/* Styles go here */

circle {

  stroke: grey;
  stroke-width: 1px;
}

#tooltip.hidden {
        display: none;
}
  .hAxisButtons {
      font-size: 12.5px;
      font-family: Helvetica, Arial, Sans-Serif;
      color: #156cc6;
      text-align: center;
      float: left;
  }
  
  .hAxisButtons .hbutton {
	margin-right: 2px;
	float: left;

  height: 30px;
	cursor: pointer;
	padding: 9px 5px 9px 5px;
	background-color: #eef2f4;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-bottom: 7px;	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0.5);
	
  }
  .hAxisButtons .hbutton.selected{
 border-style: solid;
    border-width: 1px;
    border-color: #156cc6;

  }
